<% title t(".title") %>

<h1><%= @text.project.name %> — Classify</h1>

<% if @text.context.present? %>
  <h3>Context</h3>
    <blockquote>
      <p><%= @text.context %></p>
    </blockquote>
<% end %>

<h3>Text</h3>
<blockquote>
  <p><%= @text.body %></p>
</blockquote>

<%= simple_form_for(@text, url: project_text_path(@project, @text)) do |f| %>
  <%= f.input :classification, collection: @text.project_labels, classification: false, label_method: :name, value_method: :id, include_blank: false %>
  <%= f.button :submit, 'Classify' %>
<% end %>